@import "tailwindcss";

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(47, 47, 46);
  color: #fff;
}
.box {
  width: 9.375rem;
  height: 9.375rem;
  border-radius: 50%;
  background: rgb(195, 194, 194);
  background-color: yellow;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  font-size: 1.5rem;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
}
